            .MAIN {
                position: absolute;
                top: 5%;
                left: 40%;
            }
            
            .MAIN2 {
                position: absolute;
                top: 10%;
                left: 44%;
            }

            .CONTACTS1 {
                position: absolute;
                top: 20%;
                left: 2%;    
            }

            .NUMBER {
                position: absolute;
                top: 26%;
                left: 3%;   
            }

            .GMAIL {
                position: absolute;
                top: 28%;
                left: 3%;   
            }

            .ADDRESS {
                  position: absolute;
                top: 30%;
                left: 3%;   
            }

            .EDUCATION {
                position: absolute;
                top: 40%;
                left: 2%;   
            }

            .SCHandADDRESS {
                position: absolute;
                top: 46%;
                left: 3%;   
            }

            .SandY {
                position: absolute;
                top: 48%;
                left: 3%;   
            }

            .EDUCSUMMARY1 {
                 position: absolute;
                top: 50%;
                left: 3%;  
            }

            .EDUCSUMMARY2 {
                  position: absolute;
                top: 52%;
                left: 3%;  
            }

            .SKILLS{
                  position: absolute;
                top: 60%;
                left: 2%;  
            }

            .InternetResearch {
                 position: absolute;
                top: 65%;
                left: 3%;  
            }

            .TypingSkills {
                    position: absolute;
                top: 67%;
                left: 3%;  
            }

            .Cooperative {
                position: absolute;
                top: 69%;
                left: 3%;  
            }

            .HOBBIES{
                position: absolute;
                top: 79%;
                left: 2%;  
            }

            .DRAWING {
                 position: absolute;
                top: 85%;
                left: 3%; 
            }

            .SLEEPING {
                 position: absolute;
                top: 87%;
                left: 3%; 
            }

            .EXPERIENCES {
                position: absolute;
                top: 20%;
                right:21%; 
            }

            .EXP1 {
                 position: absolute;
                top: 26%;
                right: 2%; 
            }

            .EXP2 {
                 position: absolute;
                top: 28%;
                right: 7%; 
            }

            .EXP3 {
                 position: absolute;
                top: 30%;
                right: 21.5%; 
            }

            .ACHIEVEMENT {
                 position: absolute;
                top: 40%;
                right: 20%; 
            }

            .ACH1 {
                 position: absolute;
                top: 46%;
                right: 20.5%;
            }

            .ACH2 {
                position: absolute;
                top: 48%;
                right: 13%;
            }

            a  {
                 position: absolute;
                top: 97%;
                right: 1%;
            }
